@model AppointmentDto

<tr>
    <td area-label="Appointment Date">
        @Model.StartTime
    </td>
    <td area-label="Names">
        @Model?.DayTimeTable?.DoctorData?.User?.Name 
        @Model?.DayTimeTable?.DoctorData?.User?.MidName
    </td>
    <td area-label="Surname">
        @Model?.DayTimeTable?.DoctorData?.User?.Surname
    </td>
    <td area-label="Speciality">
        @Model?.DayTimeTable?.DoctorData?.Speciality?.Name
    </td>
    <td>
        <span> <a class="btn btn-primary" href="~/appointment/delete/?id=@Model?.Id&reflink=@ViewData["Reflink"]">Delete</a></span>
    </td>

</tr>
