@{
    Layout = null;
}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">DoctorPanel</a>
        <ul class="dropdown-menu" style="min-width: fit-content">
            <li><a class="dropdown-item" asp-action="SelelctSpec" asp-controller="DayTimeTable" asp-route-fl="1">DayTimeTables</a></li>
            <li><a class="dropdown-item" asp-action="SelelctSpec" asp-controller="DayTimeTable" asp-route-fl="2">My Patients</a></li>
        </ul>
    </li>

