@using MedContactApp.Helpers;

@model IEnumerable<UserDto>

@{
    ViewData["Title"] = "Doctors Table";
    ViewBag.pageRoute = "/index/doctor";
}

<a href="~/doctor/create">Add doctor</a>


<Table class="delivery">  @*" table table-bordered"*@
    <caption>Doctors Info Table</caption>
    <thead>
    <tr>
        <th>
           Username
        </th>
        <th>
           Email
        </th>
        <th>
           User Id
        </th>
        <th>
           Name
        </th>
        <th>
           Middle Name
        </th>
        <th>
           Surname
        </th>
        @*<th>
           Age
        </th>*@
        <th>
           Gender
        </th>
        <th>
           Address
        </th>
        <th>
           Details
        </th>
    </tr>
    <thead>
    <tbody>
    
        

@if (Model.Any())
{
    foreach (var item in Model)
    {
        await Html.RenderPartialAsync("DoctorPartialView", item);
    }
}

    </tbody>
</Table>


@Html.GenerateOldPaginator((int)ViewBag.pageCount, (int)ViewBag.currentPage, (string)ViewBag.pageRoute)

@section CssStyles
    {
    <style>
       caption {
          caption-side: top;
          text-align: center;
          padding: 10px 0;
          font-size: 14px;}
    </style>
}
