<div class="content">
  <div [style.display]="showSpinner ? 'flex' : 'none'">
  <mat-spinner [strokeWidth]="3"></mat-spinner>
  </div>
  <app-doctorpreview   *ngIf="doctors" [doctors] ="doctors" (DoctorFromPreview)="viewDoctorParent($event)"></app-doctorpreview>
  <hr/>
  <app-doctordetails *ngIf="selectedDoctor" [DetailDoctor] = "selectedDoctor"></app-doctordetails>
</div>

<br/>
<div class="back">
  <button mat-raised-button (click)="goBack()">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>Back
  </button>
</div>
