@model DayTimeTableModel

@{
    ViewData["Title"] = "DayTimeTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

<h1>Day Time Table</h1>

    <h4>@Model?.DoctorName @Model?.DoctorSurname</h4>
    <h6>Speciality @Model?.DoctorSpeciality</h6>
    <h6>User Id: @Model?.UserId</h6>

<br />

    <div class="col-md-4">
        <form asp-action="Create" asp-controller="DayTimeTable" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartWorkTime" class="control-label"></label>
                <input asp-for="StartWorkTime" id="StartWorkTime" type="time" class="form-control" />
                <span asp-validation-for="StartWorkTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishWorkTime" class="control-label"></label>
                <input asp-for="FinishWorkTime" id="FinishWorkTime" type="time" class="form-control" />
                <span asp-validation-for="FinishWorkTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultDuration" class="control-label"> Consultation Duration (min)</label>
                <input asp-for="ConsultDuration" id="ConsultDuration" type="number" class="form-control"  onblur="calctimetable()" />
                <span asp-validation-for="ConsultDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type ="hidden" asp-for="DoctorDataId" class="form-control" />
                <input type="hidden" asp-for="CustomerUserId" class="form-control" />
                <input type="hidden" asp-for="Reflink" class="form-control" />
            </div>
            <br/>
                <div class="row">
                   <div class="toast-container" id="toastContainer" style="position: absolute; top: 10px; right: 10px;">
                    
                   </div>
                </div>      
                <br/>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>  
        </form>
        <div>
            @if(!string.IsNullOrEmpty(Model?.SystemInfo))
                @Html.Raw(Model?.SystemInfo)
        </div>
    </div>
    <br/>
</div>

@section Footer
{
    <a href="/daytimetable/timetabledoctindex/?dataid=@Model?.DoctorDataId&uid=@Model?.CustomerUserId&reflink=@Model?.Reflink"><h6>&#5130 Back to List</h6></a>
    <br />

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/daytimetable.toast.js"></script>
   
}
    