@model DayTimeTableModel

@{
    ViewData["Title"] = "DayTimeTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

<h1>Day Time Table</h1>

<br />

    <div class="col-md-4">
        <form asp-action="Create" asp-controller="DayTimeTable" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartWorkTime" class="control-label"></label>
                <input asp-for="StartWorkTime" id="StartWorkTime" type="time" class="form-control" />
                <span asp-validation-for="StartWorkTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishWorkTime" class="control-label"></label>
                <input asp-for="FinishWorkTime" id="FinishWorkTime" type="time" class="form-control" />
                <span asp-validation-for="FinishWorkTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultDuration" class="control-label"> Consultation Duration (min)</label>
                <input asp-for="ConsultDuration" id="ConsultDuration" type="number" class="form-control" />
                <span asp-validation-for="ConsultDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type ="hidden" asp-for="DoctorDataId" class="form-control" />
            </div>
            <br/>
                <div class="row">
                    <div class="col-6 form-group">
                        <button type="button" id="calc" class="btn btn-primary">Calculate Tickets Quantity</button>
                    </div>
                    <div class="col-6" id="calctext"></div>
                </div>      
                <br/>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>  
        </form>
    </div>
    <br/>
    <div>
    <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/daytimetable.js"></script>
   
}
    