@model RegDoctorDataModel

@{
    ViewData["Title"] = "Doctor Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="~/userpanel/accsettingsedit/@Model.Id">Account Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/familyaccount/removeaccount/@Model.Id">Remove Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/userpanel/changepassword/@Model.Id">Password Change</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/doctordatapanel/regdoctordata/">Doctor Registration</a>
    </li>
     @if (Model.RoleNames != null && Model.RoleNames.Any(r => r.Equals("Doctor")))
     {
        <li class="nav-item">
            <a class="nav-link" href="~/doctordatapanel/editdoctordata/">Edit Doctor Data</a>
        </li>
     }
</ul>
<br />
<h4>Doctor Registration</h4>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="RegDoctorData" asp-controller="DoctorDataPanel" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Confirm your password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span> 
            </div>
            <br />
            <p> Send your CV files for review:</p>
            <br/>
            <div class="form-group">
                <input asp-for="Uploads" type="file" name="uploads" />
                <br /> <br />
                <input asp-for="Uploads" type="file" name="uploads" />
                <br /> <br />
                <input asp-for="Uploads" type="file" name="uploads" />
            </div>
            <br />
                <input type="submit" value="Upload" class="btn btn-primary" />
        </form>
     
        <br />
        <p>Your doctor account  will be inactive untill administration approval</p>

         @if (Model.SystemInfo != null)
         {
            <div>
                <p>
                @Html.Raw(@Model.SystemInfo)
                </p>            
            </div>
         }

    </div>
</div>

@section Footer
    {
    <div>
        <a href="~/userpanel/accsettings/@Model.Id"><h6>&#5130 Back to Settings</h6></a>
    </div>
}

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 }
  