@model ChangePasswordModel

@{
    ViewData["Title"] = "Remove Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="~/userpanel/accsettingsedit/@Model.Id">Account Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/familyaccount/removeaccount/@Model.Id">Remove Account</a>
    </li>
@if (Model.IsDependent != true)
{
     <li class="nav-item">
        <a class="nav-link " href="~/userpanel/changepassword/@Model.Id">Password Change</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/doctordatapanel/regdoctordata/">Doctor Registration</a>
    </li>
    @if (Model.RoleNames != null && Model.RoleNames.Any(r => r.Equals("Doctor")))
    {
        <li class="nav-item">
            <a class="nav-link" href="~/doctordatapanel/editdoctordata/">Edit Doctor Data</a>
        </li>
    }

}
     
</ul>
<br />
<h4>Do you really wish to remove your account?</h4>
<p>Repeat your (main user) password and code word for this...</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="FamilyAccount" asp-action="RemoveAccount" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Input password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="control-label">Confirm password</label>
                <input asp-for="PasswordConfirmation" class="form-control" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Input code word</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Remove" class="btn btn-primary" />
            </div>
        </form>
        @if (Model.SystemInfo != null)
        {
            <div>
                <p><b>@Model.SystemInfo</b></p>
            </div>
        }
    </div>
</div>


@section Footer
    {
    <div>
        <a href="~/userpanel/accsettings/@Model.Id"><h6>&#5130 Back to Settings</h6></a>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
