
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="~/account/welcome/">Final Steps</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/doctordatapanel/regdoctordata/">Doctor Registration</a>
    </li>
</ul>
<br />
<h1>Welcome!</h1>
<h2>Thank you for registration!</h2>
<br />
<p>All your settings are in top left menu</p>
<p>You can add your appointments at <a href="~/userpanel/appointment/" class="text-decoration-none">"My Appointments"</a></p>
<p>You can add your relatives at <a href="~/familyaccount/family/" class="text-decoration-none">"My Family"</a></p>
<p>Your medical data is stored at <a href="~/userpanel/data/" class="text-decoration-none">"My Data"</a></p>
<p>You can edit your settings at <a href="~/account/accsettings/" class="text-decoration-none">"My Settings"</a></p>
<br />
<h2>Be healthy! Good luck!</h2>




