@model EditDoctorDataModel

@{
    ViewData["Title"] = "Add/Remove Doctor Specialities";
    Layout = "~/Views/Shared /_LayoutCustomSelect.cshtml";
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="~/userpanel/accsettingsedit/@Model.UserId">Account Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/userpanel/changepassword/@Model.UserId">Password Change</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/doctordatapanel/regdoctordata/">Doctor Registration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/doctordatapanel/editdoctordata/">Edit Doctor Data</a>
    </li>
</ul>
<br />
<h4>Add/Remove Doctor Specialities</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDoctorData" asp-controller="DoctorDataPanel" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Confirm your password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />


            <div>
                <label for="SpecialityIds">Select your specialities:</label>
                <br />

                <select aria-label="Specialities"
                        id="SpecialityIds" multiple="multiple" name="SpecialityIds">

                    @if (Model.Specialities != null)
                    {
                        foreach (var item in Model.Specialities)
                        {
                            await Html.RenderPartialAsync("SpecialitySelectPartialView", item);
                        }
                    }
                </select>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <p>Your doctor special data account changes will be inactive untill administration approval</p>
    </div>
    @if (Model.SystemInfo != null)
    {
        <div>
            <p>
                @Html.Raw(@Model.SystemInfo)
            </p>
        </div>
    }
</div>


<div>
    <a asp-controller="UserPanel" asp-action="AccSettings">Back to Settings</a>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>document.multiselect('#SpecialityIds')</script>
 }

@section CssStyles
{
    <style>
        #SpecialityIds_multiSelect {
            width: max-content;
        }
    </style>

}