@model RegDoctorDataModel

@{
    ViewData["Title"] = "Doctor Registration";
    Layout = "~/Views/DoctorDataPanel/_Layout.cshtml";
}

<h1>Doctor Registration</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegDoctorData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Confirm your password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
     
           
            <div>
                <label for="SpecialityIds">Select your specialities:</label>
                <br /> 
                
                <select aria-label="Specialities"
                        id="SpecialityIds" multiple="multiple" name="SpecialityIds">
                   
                    @if (Model.Specialities!=null)
                    {
                        foreach (var item in Model.Specialities)
                        {
                            await Html.RenderPartialAsync("SpecialitySelectPartialView", item);
                        }
                    }
                </select>
            </div>
        
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <p>Your doctor special data accounts will be inactive untill administration approval</p>
    </div>
    @if (Model.SystemInfo != null)
    {
        <div>
            <p><b>@Model.SystemInfo</b></p>
        </div>
    }
</div>


<div>
    <a asp-controller ="UserPanel" asp-action="AccSettings">Back to Settings</a>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>document.multiselect('#SpecialityIds')</script>
 }
  
@section CssStyles
{
    <style>
        #SpecialityIds_multiSelect {
            width:max-content;
        }
    </style>

}
