@{
    Layout = null;
}

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">AdminPanel</a>
        <ul class="dropdown-menu" style="min-width: fit-content">
            <li><a class="dropdown-item" asp-action="UserIndex" asp-controller="AdminPanel">User Manager</a></li>
            <li><a class="dropdown-item" asp-action="ApplicationIndex" asp-controller="AdminPanel">Applicants Manager</a></li>
            <li><a class="dropdown-item" asp-action="MainUserData" asp-controller="UserPanel">My Data</a></li>
            <li><a class="dropdown-item" asp-action="AccSettings" asp-controller="UserPanel">My Settings</a></li>
        </ul>
    </li>

